@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

*{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

.content-wrapper{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    background-color: gray;
}

header{
    height: 10%;
    width: 100%;
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    width: 90%;
}

.logo{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.logo a{
    width: 50%;
    height: 90%;
}

.logo a img{
    width: 100%;
    height: 100%;
}

.nav-button{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.nav-button a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.main-content-wrapper{
    min-height: 80%;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.main-content-grid{
    padding: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.card{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    width: 200px;
    height: 200px;
}

footer{
    height: 10%;
    width: 100%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center; 
}